In [16]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [17]:
data = pd.read_csv("alt_fuel_stations (Jan 9 2024).csv")
data.head()

C:\Users\typjo\AppData\Local\Temp\ipykernel_35964\3331038493.py:1: DtypeWarning: Columns (6,16,20,31,33,43,46,52,57,58,60,62,65,67,69,71) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("alt_fuel_stations (Jan 9 2024).csv")

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,MD,NaN
1,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,NaN
2,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,HD,NaN
3,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3181,E,...,False,NaN,NaN,NaN,NaN,NaN,False,NaN,MD,NaN
4,CNG,Clean Energy - Logan International Airport,1000 Cottage St Ext,"From Route 1, take the first exit after Callah...",East Boston,MA,2128,NaN,866-809-4869,E,...,False,NaN,NaN,NaN,NaN,NaN,True,NaN,MD,NaN

In [18]:
# Creating a new data frame that only uses the data needed for the project 
df = data[['Fuel Type Code', 'City', 'State', 'Longitude', 'Latitude', 'Street Address', 'EV Network']]
print(df.sample(10))

      Fuel Type Code              City State   Longitude   Latitude  \
54447           ELEC          Aventura    FL  -80.140544  25.955432
44404           ELEC            Austin    TX  -97.851104  30.396321
9421             LPG         Rockville    MD  -77.106596  39.054456
56067           ELEC         Oceanside    NY  -73.642037  40.622455
45547           ELEC            Lowell    MA  -71.315073  42.642999
74190           ELEC          San Jose    CA -121.910608  37.333803
61163           ELEC             Aiken    SC  -81.674820  33.664540
78511           ELEC       Minneapolis    MN  -93.347792  44.911390
54972           ELEC  Huntington Beach    CA -117.989330  33.690857
52906           ELEC           Buffalo    NY  -78.783178  42.995621

              Street Address           EV Network
54447    19501 Biscayne Blvd        Blink Network
44404     6500 River Pl Blvd  ChargePoint Network
9421       12025 Parklawn Dr                  NaN
56067   3620 Long Beach Road                Volta
45547          348 Dutton St  ChargePoint Network
74190       1314 The Alameda        Blink Network
61163      102 W Frontage Rd            EVGATEWAY
78511         4801 W 50th St  ChargePoint Network
54972       18711 Beach Blvd        Non-Networked
52906  1615 Amherst Manor Dr  ChargePoint Network

### Creating a column for regions

In [19]:
#creating array to store region data
west = ['WA', 'OR', 'ID', 'MT', 'WY', 'CA', 'NV', 'UT', 'CO', 'AK', 'HI']
southwest = ['AZ', 'NM', 'OK', 'TX']
southeast = ['AR', 'LA', 'MS', 'AL', 'GA', 'FL', 'SC', 'NC', 'TN', 'KY', 'VA', 'WV', 'MD', 'DE', 'PR' ]
northeast = ['PA', 'NJ', 'CT', 'RI', 'NY', 'VT', 'ME', 'NH', 'MA', 'DC']
midwest = ['ND', 'SD', 'NE', 'KS', 'MO', 'IA', 'MN', 'WI', 'MI','IL', 'IN', 'OH']

print(len(northeast) + len(southeast) + len(west) + len(southwest) + len(midwest))

#function that accepts state as input and maps according to array
def map_to_region(state):
    if state in west:
        return 'West'
    elif state in southwest:
        return 'Southwest'
    elif state in southeast:
        return 'Southeast'
    elif state in northeast:
        return 'Northeast'
    elif state in midwest:
        return 'Midwest'
    else:
        return 'Invalid'
    
#using .apply() to iterate through 
df['Region'] = df['State'].apply(map_to_region)
df.sample(10)

52

C:\Users\typjo\AppData\Local\Temp\ipykernel_35964\1904806680.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Region'] = df['State'].apply(map_to_region)

,Fuel Type Code,City,State,Longitude,Latitude,Street Address,EV Network,Region
22635,ELEC,Jersey City,NJ,-74.040043,40.716989,129 Montgomery St,Tesla Destination,Northeast
35143,ELEC,Glendale,CA,-118.227904,34.165818,1500 N Verdugo Rd,ChargePoint Network,West
57602,ELEC,Clifton Park,NY,-73.785474,42.855974,451 Clifton Park Center Rd,ChargePoint Network,Northeast
34671,ELEC,Lynnwood,WA,-122.294145,47.810125,20800 44th Ave W,ChargePoint Network,West
78583,ELEC,Cairo,GA,-84.206221,30.884956,150 8th Ave NE,EV Connect,Southeast
49842,BD,Ladd,IL,-89.218095,41.377743,425 S Main Ave,NaN,Midwest
21813,ELEC,West Hills,CA,-118.623688,34.188230,6501 Fallbrook Avenue,Blink Network,West
45442,ELEC,South Boston,VA,-78.900850,36.686610,1007 Philpott Road,Tesla,Southeast
27915,ELEC,Austin,TX,-97.661712,30.329889,8410 E Hwy 290,ChargePoint Network,Southwest
73852,ELEC,Dallas,TX,-96.820937,32.960779,15480 Dallas Parkway,Blink Network,Southwest

In [20]:
df['Region'].value_counts()

Region
West         28620
Southeast    16788
Northeast    14172
Midwest      13922
Southwest     6740
Invalid         15
Name: count, dtype: int64

In [21]:
#Seeing where the invalid results are coming from
df.loc[df['Region'] == 'Invalid']

,Fuel Type Code,City,State,Longitude,Latitude,Street Address,EV Network,Region
60892,ELEC,Long Beach,NaN,-164.848855,12.921876,3355 Las Vegas Blvd S,eVgo Network,Invalid
70621,ELEC,Roanoke,NaN,-79.954480,37.251700,2203 Franklin Road Southwest,RIVIAN_ADVENTURE,Invalid
71808,ELEC,Decatur,NaN,-97.586680,33.215299,2112 US-287,ChargePoint Network,Invalid
74282,ELEC,Bangalore,NaN,31.991007,24.527271,"#123, Block 4, 50 Feet Road, Indira Nagar",Blink Network,Invalid
74941,ELEC,Bangalore,KA,76.433955,13.485924,"#123, Block 4, 50 Feet Road, Indira Nagar",Blink Network,Invalid
75272,ELEC,Boulder,NaN,-105.233532,40.024487,5064 Pearl St,ChargePoint Network,Invalid
75273,ELEC,Boulder,NaN,-105.233441,40.024432,5064 Pearl St,ChargePoint Network,Invalid
76123,ELEC,Marlboro,NaN,-74.308970,40.340656,23 Kilmer Dr,ChargePoint Network,Invalid
76124,ELEC,Ashburn,NaN,-77.518454,38.960967,23710 Schooler Plz,ChargePoint Network,Invalid
76125,ELEC,Ashburn,NaN,-77.518453,38.960979,23710 Schooler Plz,ChargePoint Network,Invalid
77128,ELEC,Edmonds,NaN,122.373276,47.784476,23700 104th Avenue West,Blink Network,Invalid
77530,ELEC,Broomfield,NaN,-105.087555,39.917870,1480 W 1st Ave,ChargePoint Network,Invalid
78228,ELEC,Englewood,NaN,104.996126,39.661904,3021 South Galapago Street,Blink Network,Invalid
78325,ELEC,Torrance,NaN,-118.355155,33.839303,21035 Hawthorne Blvd,Volta,Invalid
79291,ELEC,Quincy,NaN,-70.006705,42.245500,151 Granite St,ChargePoint Network,Invalid

In [22]:
#Removing these invalid results since it is unclear
df = df[df['Region'] != 'Invalid']
df['Region'].value_counts()

Region
West         28620
Southeast    16788
Northeast    14172
Midwest      13922
Southwest     6740
Name: count, dtype: int64

In [23]:
#Checking for any missing values in columns

#Loops through each column of df and checks for missing values,
# prints a statement if there are

for column_name in df.columns:
    missing_count = df[column_name].isna().sum()
    if (missing_count > 0):
        print(f"In '{column_name}' there are {missing_count} missing values")

In 'City' there are 4 missing values
In 'Street Address' there are 34 missing values
In 'EV Network' there are 11321 missing values

In [24]:
#Filling the city with zero
df['City'].fillna('Unknown', inplace=True)
print(df['City'].isna().sum())

#Filling in the unknown street addresses
df['Street Address'].fillna('Unknown', inplace=True)
print(df['City'].isna().sum())

0
0

### Exporting to CSV

In [25]:
df.to_csv('alt_fuel_stations_prepped.csv', index=False)